PANDAS

• It is a package useful for data analysis and manipulation.

• Pandas provide an easy way to create, manipulate and wrangle the data.

Data scientists use Pandas for its following advantages:

• Easily handles missing data.

• It uses Series for one-dimensional data structure and DataFrame 

for multi-dimensional data structure.

• It provides an efficient way to slice the data.

• It provides a flexible way to merge, concatenate or reshape the 
data.

DATA STRUCTURES IN PANDAS

A data structure is a way to arrange the data in such a way that so it 
can be accessed quickly and we can perform various operation on this 
data like- retrieval, deletion, modification etc.

Pandas deals with 3 data structure

1. Series

2. Data Frame

3. Panel

Series-Series is a one-dimensional array like structure with 
homogeneous data, which can be used to handle and manipulate data. 
What makes it special is its index attribute, which has incredible 
functionality and is heavily mutable.


SYNTAX OF CREATING A SERIES

<Series Object>=pandas.Series (data, index=idx (optional))

In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (1.5.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\hp\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (1.23.4)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python310\lib\site-packages (from pandas) (2022.6)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3 -> 22.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
#How to create Series with nd array
import pandas as pd
import numpy as np
arr=np.array([10,15,18,22])
s = pd.Series(arr)
print(s)

0    10
1    15
2    18
3    22
dtype: int32

In [4]:
#How to create Series with Mutable index
import numpy as np
arr=np.array(['a','b','c','d'])
s=pd.Series(arr,
index=['first','second','third','fourth'])
print(s)

first     a
second    b
third     c
fourth    d
dtype: object

In [5]:
#Creating a series from Scalar value
s=pd.Series(50, index=[0,1,2,3,4])

In [6]:
#Creating a series from a Dictionary
d={"name":"Festus","Age":20,"School":"KCA University"}
s=pd.Series(d)
print(s)

name              Festus
Age                   20
School    KCA University
dtype: object

MATH OPERATIONS ON SERIES

In [7]:
s=pd.Series([1,23,3,4,5,6,7,8,9])
print("Multiplying all values in aseries")
print(s*2)
print("Squares of values in a series")
print(s**2)
print("Printing all the values in a series greater than a given value")
print(s[s>2])

Multiplying all values in aseries
0     2
1    46
2     6
3     8
4    10
5    12
6    14
7    16
8    18
dtype: int64
Squares of values in a series
0      1
1    529
2      9
3     16
4     25
5     36
6     49
7     64
8     81
dtype: int64
Printing all the values in a series greater than a given value
1    23
2     3
3     4
4     5
5     6
6     7
7     8
8     9
dtype: int64

HEAD AND  TAIL FUNCTIONS IN SERIES

In [8]:
arr=np.array([10,15,18,22,55,77,42,48,97])
s=pd.Series(arr)
print("=========The first 5 rows==========")
print(s.head())
print("printing the first three rows")
print(s.head(3))
print("=========The last 5 rows===========")
print(s.tail())
print("printing the last three rows")

=========The first 5 rows==========
0    10
1    15
2    18
3    22
4    55
dtype: int32
printing the first three rows
0    10
1    15
2    18
dtype: int32
=========The last 5 rows===========
4    55
5    77
6    42
7    48
8    97
dtype: int32
printing the last three rows

SELECTION IN SERIES

In [9]:
#Selection using loc index label
#Syntax: series_name.loc[StartRange: StopRange]
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr)
print(s)
#To print values from index 0 to 2
print(s.loc[:2])
#To print values from index 3 to 4
print(s.loc[3:4])

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int32
0    10
1    15
2    18
dtype: int32
3    22
4    55
dtype: int32

In [10]:
#selection using iloc index label
#Syntax: series_name.iloc[StartRange : StopRange]
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr)
print(s)
#To print values from Index 0 to 1.
print(s.iloc[:2])

print(s.iloc[3:4])

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int32
0    10
1    15
dtype: int32
3    22
dtype: int32

In [11]:
#Selection using []
#Syntax: series_name[StartRange: StopRange] or series_name[ index]
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr)
print(s)
print("Printing value at index 3")
print(s[3:4])

0    10
1    15
2    18
3    22
4    55
5    77
dtype: int32
Printing value at index 3
3    22
dtype: int32

Indexing in Series

In [14]:
array=np.array(['a','b','c','d'])
s=pd.Series(array,index=['First','Second','Third','Fourth'])
print(s)
print('\n indexes in Series are :')
print(s.index)

First     a
Second    b
Third     c
Fourth    d
dtype: object

 indexes in Series are :
Index(['First', 'Second', 'Third', 'Fourth'], dtype='object')

Slicing in Series

In [21]:
arr=np.array([10,15,18,22,55,77])
s=pd.Series(arr, index=['A','B','C','D','E','F'])
print(s)
print(s[1:5:2])
print(s[0:6:2])

A    10
B    15
C    18
D    22
E    55
F    77
dtype: int32
B    15
D    22
dtype: int32
A    10
C    18
E    55
dtype: int32

DATAFRAME DATA STRUCTURE

-It is a two-dimensional object that is useful in 
representing data in the form of rows and columns. It is similar to a 
spreadsheet or an SQL table. This is the most commonly used pandas 
object. Once we store the data into the Dataframe, we can perform 
various operations that are useful in analyzing and understanding the 
data.

A data frame can be created using any of the following
1. Series
2. Lists
3. Dictionary
4. A numpy 2D array

In [22]:
#CREATING EMPTY DATAFRAME
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [23]:
#CREATING DATAFRAME FROM SERIES
s = pd.Series(['a','b','c','d'])
df=pd.DataFrame(s)
print(df)

   0
0  a
1  b
2  c
3  d

In [24]:
#CREATING A DATAFRAME FROM A DICTIONARY
name=pd.Series(['Hardik','Virat'])
team=pd.Series(['MI','RCB'])
dic={'Name':name,'Team':team}
df=pd.DataFrame(dic)
print(df)

     Name Team
0  Hardik   MI
1   Virat  RCB

In [25]:
#DataFrame from List of Dictionaries
l=[{'Name':'Sachin','Sirname':'Bhadwaj'},
   {'Name':'Vinod','Sirname':'Verma'},
   {'Name':'Rajesh','Sirname':'Mishra'}]
df=pd.DataFrame(l)
print(df)

     Name  Sirname
0  Sachin  Bhadwaj
1   Vinod    Verma
2  Rajesh   Mishra